@charset "UTF-8";

/*Aparelho em pé*/

body {
    background: url(../imagens/cev-portrait.jpg);
    background-position: center bottom;
    width: 100vw;
    background-repeat: no-repeat;

    background-size: contain;
    
}